<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/php/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutResourceUsageDuringSmallTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOverride="true"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         failOnRisky="true"
         failOnWarning="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnWarning="false"
         stopOnRisky="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="false">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">tests/php</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">includes</directory>
        </include>
    </coverage>
    <php>
        <ini name="memory_limit" value="256M"/>
        <env name="WP_TESTS_DIR" value="wordpress-tests-lib"/>
    </php>
</phpunit>